body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main-table {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  opacity: 0.9;
}

.table-header {
  font-weight: bold;
}

.table-item:hover {
  cursor: pointer;
}
